<%= link_to professional_path(professional), class:"career-description-connection" do %>
<li>
   <%= image_tag professional.company_logo, class:"career-img" %>

<p> Location: <%= professional.location %></p>

<p>Professional Name: <%= professional.user.first_name %></p>

<p>Professional Specialty: <%= professional.specialty %></p>
<p>Professional Resume: <%= professional.resume %></p>

<p>Years of experience: <%= professional.experience_in_years %></p>
</li>
<% end %>
