<p>Professional Owner Avatar:  <strong><%= image_tag @professional.user.photo, class:"career-img" %></p> </strong>
<p>Professional Owner First name: <strong><%= @professional.user.first_name %></p> </strong>
<p>Professional Owner Lastname: <strong><%= @professional.user.last_name %></p> </strong>
<p>Professional Owner Email: <strong><%= @professional.user.email %></p> </strong>
<p>Professional Owner Description: <strong><%= @professional.user.user_description %></p> </strong>
<p>Professional Owner Birth: <strong><%= @professional.user.birth %></p> </strong>
