<div class="container-letter">
  <div class="request-sent">
    <% if @booking.booking_status != "pending" %>
    <div class="req-content">
      <h1>Request confirmed with: <strong> <%= @booking.professional.user.full_name %></strong></h1>
      <p>Get ready to shadow!!</p>
      <p>Hi, <%= @booking.user.first_name %></strong> <%= @booking.user.last_name %></p>
      <p>Your request has been approved. Your Shadow request
        <p>From: <strong><%= @booking.start_book.strftime("%b %d %Y") %></strong>  To: <strong><%= @booking.end_book.strftime("%b %d %Y") %>.</strong></p>
         Note that this is a professional setting. Please be on time and come prepared.</p>
        <p>If you have any questions or concerns feel free to reach us any time at <strong>shadow@me.com</strong></p>
      </div>
      <div class="signature">
        <p><strong>-ShadowMe</strong></p>
      </div>
      <div class="buttons">
        <p><%= link_to "Home", root_path , class: "btn btn-outline-danger"%></p>
      </div>
    </div>
    <% else %>
    <div class="req-content">
      <h1>Request Sent to <%= @booking.professional.user.full_name %>!</strong></h1>
      <p>Hi, <%= @booking.user.first_name %></strong> <%= @booking.user.last_name %></p>
      <p>Your request has been sent. Your Shadow request
        <p>From: <strong><%= @booking.start_book.strftime("%b %d %Y") %></strong>  To: <strong><%= @booking.end_book.strftime("%b %d %Y") %>.</strong></p>
        Please wait patiently. <%= @booking.professional.user.full_name %> should respond within 24 hours.</p>
        <p>If you have any questions or concerns feel free to reach us any time at <strong>shadow@me.com</strong></p>
      </div>
      <div class="signature">
        <p><strong>-ShadowMe</strong></p>
      </div>
      <div class="buttons">
        <p><%= link_to "Home", root_path , class: "btn btn-outline-danger"%></p>
      </div>
      <% end %>


      <div class="under">
        <div class="pro-img">
          <div class="container">
            <div class="word-fix">
            <span style="" class="banner-words">Prepare to Shadow</span>
            <p class="sec-row">Find Your Career</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>









  <!-- <div class="container"> -->

   <!--  <% if @booking.booking_status != "pending" %>
    <%= render 'messages/chat', message: @message, messages: @messages %>
   <% else %>
    <%= link_to "Back to professional card", professional_path(@booking.professional) %>
    <%= link_to "Back to homepage", root_path %>
     <% end %>
  </div> -->


