<% if @booking.booking_status == "confirmed" %>

<div class="booking-show">
  <div class="letter-column">
    <%= render 'bookings/letter', booking: @booking, user: @user %>
  </div>
  <% if @booking.booking_status != "pending" %>
    <div class="chat-column mt-5">
      <%= render 'messages/chat', message: @message, messages: @messages %>
    </div>
  <% else %>
    <%= link_to "Back to professional card", professional_path(@booking.professional) %>
    <%= link_to "Back to homepage", root_path %>
  <% end %>
</div>


<% else %>


<div class="">
  <div class="container text-center">
    <%= render 'bookings/letter', booking: @booking, user: @user %>
  </div>
</div>

<% end %>
