<div class="container-letter">
<div class="request-sent">
<% if @booking.booking_status != "pending" %>
<h1><strong>Request confirmed! </strong> with: <%= @booking.professional.user.full_name %>!</h1>
<p>Get ready to shadow!!</p>
<% else %>
<h1><strong>Request Sent to</strong> <%= @booking.professional.user.full_name %>!</h1>
<% end %>




</div>
 <div>
 <p>Hi, <%= @booking.user.first_name %></strong> <%= @booking.user.last_name %></p>
  <p>Your request has been sent. Your Shadow request from<p><strong><%= @booking.start_book %> </strong>to <strong></strong><strong><%= @booking.end_book %></strong></p>Please wait patiently. <%= @booking.professional.user.full_name %> should respond within 24 hours.</p>
<p>If you have any questions or concerns feel free to reach us any time at <strong>shadow@me.com</strong></p>
</div>
<div class="signature">
<p><strong>-ShadowMe</strong></p>
</div>
<button type="button" class="btn btn-outline-danger">View Booking</button>
<div class="under">



<div class="pro-img">
<h1 style="">abc</h1>
<p>asaaaac</p>
<p>asaaaac</p>
<p>asaaaac</p>
<p>asaaaac</p>
<p>asaaaac</p>

</div>
  </div>
</div>
</div>






<div class="container">

<% if @booking.booking_status != "pending" %>
<%= render 'messages/chat', message: @message, messages: @messages %>
<% end %>
<%= link_to "Back to professional card", professional_path(@booking.professional) %>
<%= link_to "Back to homepage", root_path %>
</div>


