<%= link_to professional_path(professional), class:"career-description-connection" do %>
<div class="card-search">
  <%= image_tag(professional.user.photo, class:"search-img") %>
  <div class="card-search-infos">

    <div class="career-description-search">
      <div class="career-search-header">
            <h4>Professional</h4>

        <h2><%= professional.user.first_name %> <%= professional.user.last_name %></h2>
        <div class="job_details">
          <p><%= professional.user.user_description %></p>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
