<div id="sign-form">
  <div class="container" id="container">
    <div class="form-container sign-up-container">
      <div class='form'>
        <div class="form-sign-up">
          <h1>Sign Up</h1>
          <div class="social-container">
            <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
            <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
          </div>
          <span>or use your account</span>

          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">

            <div class="input">
              <%= f.input :email,
              required: true,
              autofocus: true,
              input_html: { autocomplete: "email" }%>

            </div>
            <div class="input">
              <%= f.input :password,
              required: true,
              hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
              input_html: { autocomplete: "new-password" } %>

            </div>
            <div class="input">
              <%= f.input :password_confirmation,
              required: true,
              input_html: { autocomplete: "new-password" } %>

            </div>

            <div class="input">
              <%= f.input :photo %>
            </div>
            <div class="input">
              <%= f.input :user_type, :as => :select, :collection => User.user_types.keys.to_a,
              prompt: "- SELECT ONE -", label: "Sign up as...", required: true%>
            </div>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Sign up" %>
          </div>
          <% end %>
        </div>
      </div>
    </div>



    <div class="form-container sign-in-container">
      <div class='form'>
        <h1>Sign in</h1>
        <div class="social-container">
          <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
          <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <span>or use your account</span>


        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-inputs">
          <div class="input">
            <%= f.input :email,
            required: false,
            autofocus: true,
            input_html: { autocomplete: "email" } %>

          </div>
          <div class="input">


            <%= f.input :password,
            required: false,
            input_html: { autocomplete: "current-password" } %>

          </div>
          <div class="input">
            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>

          </div>
          <div class="form-actions">
            <%= f.button :submit, "Log in" %>
          </div>
        </div>

        <% end %>

      </div>
    </div>


    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-left">
          <h1>Welcome to Shadow Me!</h1>
          <p>To keep connected with us please login with your personal info</p>
          <button class="ghost" id="signIn">Sign In</button>
        </div>
        <div class="overlay-panel overlay-right">
          <h1>Hello, Friend!</h1>
          <p>Enter your personal details and start journey with us</p>
          <button class="ghost" id="signUp">Sign Up</button>
        </div>
      </div>

    </div>
  </div>
</div>

<script>const signUpButton = document.getElementById('signUp');
const signInButton = document.getElementById('signIn');
const container = document.getElementById('container');

signUpButton.addEventListener('click', () => {
  container.classList.add("right-panel-active");
});

signInButton.addEventListener('click', () => {
  container.classList.remove("right-panel-active");
});</script>
<style></style>
