<div class="card-search">
  <%= image_tag(user.photo, class:"search-img") %>
  <div class="card-search-infos">
    <%= link_to professional_path(user.professional), class:"career-description-connection" do %>

    <div class="career-description">
      <div class="career-search-header">
        <h2><%= user.first_name %> <%= user.last_name %></h2>
        <div class="job_details">
          <p><%= user.user_description %></p>
          <p><%= user.professional.specialty %></p>
        </div>
      </div>
    </div>
<% end %>
  </div>
</div>
