<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="d-block w-100">
        <div class="d-flex">
          <div class="testimony">
            <img src="<%= image_path('testimony1.jpg') %>" alt="">
            <p>"Glad I was able to shadow more than one Professional."
            -Dominique</p>
          </div>
          <div class="testimony">
            <img src="<%= image_path('testimony3.jpg') %>" alt="">
            <p>"I found my passion through shadowme."
            -Jessica</p>
          </div>
          <div class="testimony">
            <img src="<%= image_path('testimony6.jpg') %>" alt="">
            <p>"Enjoyed my time with great Professionals." -Julian</p>
          </div>
        </div>

      </div>
    </div>
    <div class="carousel-item">
      <div class="d-block w-100">
        <div class="d-flex">
          <div class="testimony">
            <img src="<%= image_path('testimony7.jpg') %>" alt="">
            <p>"I found my passion through shadowme." -Ashley</p>
          </div>
          <div class="testimony">
            <img src="<%= image_path('testimony10.jpg') %>" alt="">
            <p>"I enjoyed the opportunity to shadow Professionals." - Trevor.</p>
          </div>
          <div class="testimony">
            <img src="<%= image_path('testimony9.jpg') %>" alt="">
            <p>I found a career without wasting so much time." - Peggy</p>
          </div>
        </div>

      </div>
    </div>
    <div class="carousel-item">
      <div class="d-block w-100">
        <div class="d-flex">
          <div class="testimony">
            <img src="<%= image_path('testimony2.jpg') %>" alt="">
            <p>"Glad I was able to shadow more than one Professional." - John</p>
          </div>
          <div class="testimony">
            <img src="<%= image_path('testimony4.jpg') %>" alt="">
            <p>"Enjoyed my time with great Professionals." - Julia</p>
          </div>
          <div class="testimony">
            <img src="<%= image_path('testimony5.jpg') %>" alt="">
            <p>"I like how they have a professional for every career." - Alex</p>
          </div>
          <div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
