<div class="banner-donations" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1485359466996-ba9d9b4958b9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);">
  </div>
  <div class="form-donation">

<h2>Donation </h2>
<%= form_tag donation_payments_path(@donation) do %>
  <article>
    <label class="amount">
      <span>Amount: <%= humanized_money_with_symbol(@donation.amount) %></span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
    data-name="Donation"
    data-email="sebas"
    data-amount="<%= @donation.amount_cents %>"
    data-currency="<%= @donation.amount.currency %>"></script>

<% end %>
</div>
