<div class="container tp-5">
  <div class="navbar_search d-md-none">
    <%= form_tag searches_path, method: :get, class: "form form-inline" do %>
    <%= text_field_tag :q, params[:q], class: "form-control"  %>
    <%= select_tag :search_type, options_for_select(["all", "user", "category", "career"], params[:search_type]),class: "form-control" %>
    <%= submit_tag "buscar", class: "btn btn-primary" %>
    <% end %>
  </div>
  <div class="container-search">
  <% @results.each do |result| %>
    <% result = result.searchable if result.respond_to? :searchable %>

    <%= render "shared/#{result.class.name.downcase}_search", result.class.name.downcase.to_sym => result %>
  <% end %>
  </div>
</div>
