
  <% if booking.date > Date.today %>
  <!-- if booking owner has photo, show photo -->
  <% if !booking.user.photo.nil? %>
  <%= image_tag booking.user.photo, class:"career-img" %>
  <% end %>

  <!-- booking details -->

  <div id="student-bookings">
    <p><strong>Name of the one who booked:</strong> <%= booking.user.first_name %> <%= booking.user.last_name %></p>
    <p><strong>Self introduction message:</strong> <%= booking.intro_message%></p>
    <p><strong>Student description:</strong> <%= booking.user.user_description%></p>
    <p><strong>Email of the one who booked:</strong> <%= booking.user.email %></p>
    <p><strong>Booking date:</strong> <%= booking.date %></p>


    <%= render 'status', booking: booking %>



  </div>
<% end %>
