<% if current_user.user_type == "student" %>

<div class="profile-container">
  <div class="professional-info">
    <% if @current_user.photo != "" %>
    <%= image_tag current_user.photo, class:"pro-career-img rounded-circle" %>
    <% else %>
    <img src="http://localhost:3000/assets/default-avatar-105d90b04da0320bd5f096e2d9d1757b55b6317945ef8b65bb152f38d0427dba.jpg" alt="">
    <% end %>
    <p><strong>Name: </strong><%= current_user.first_name %> <%= current_user.last_name %></p>
  </div>
  <div class="container student-bookings">
    <div class="pending-wrapper">
      <% current_user.bookings.all.each do |booking| %>
      <div class="pending-container">

        <div class="photoninfo d-flex justify-between">
          <%= image_tag booking.professional.user.photo, class:"student-career-img" %>

          <div class="pending-content">
            <p><strong>Professional name:</strong> <%= booking.professional.user.first_name %> <%= booking.professional.user.last_name %></p>
            <p><strong>Message:</strong> <%= booking.intro_message%></p>
          </div>
        </div>
        <div class="confirm-wrapper">
          <p><strong><i class="far fa-calendar-alt"></i> Booking:</strong> <%= booking.start_book.strftime("%b %d %Y") %> <i class="fas fa-minus"></i> <%= booking.end_book.strftime("%b %d %Y") %>

            <% if booking.booking_status == "confirmed" %>
            <div class="status-confirmed"><p><strong>Status: </strong><%= booking.booking_status.capitalize %> <i class="far fa-check-circle"></i></p>
            </div>
            <% else %>
            <!-- DONT TOUCH -->
            <div class="status-pending"><p><strong>Status: </strong><%= booking.booking_status.capitalize %>... <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="hourglass-half" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" class="svg-inline--fa fa-hourglass-half fa-w-12 fa-spin fa-sm"><path fill="currentColor" d="M360 0H24C10.745 0 0 10.745 0 24v16c0 13.255 10.745 24 24 24 0 90.965 51.016 167.734 120.842 192C75.016 280.266 24 357.035 24 448c-13.255 0-24 10.745-24 24v16c0 13.255 10.745 24 24 24h336c13.255 0 24-10.745 24-24v-16c0-13.255-10.745-24-24-24 0-90.965-51.016-167.734-120.842-192C308.984 231.734 360 154.965 360 64c13.255 0 24-10.745 24-24V24c0-13.255-10.745-24-24-24zm-75.078 384H99.08c17.059-46.797 52.096-80 92.92-80 40.821 0 75.862 33.196 92.922 80zm.019-256H99.078C91.988 108.548 88 86.748 88 64h208c0 22.805-3.987 44.587-11.059 64z" class=""></path></svg></p></div>
            <!-- DONT TOUCH -->
            <% end %>
            <div class="confirm-container">
              <%= link_to "Booking request status", booking_path(booking), class: "btn btn-outline-danger"%>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <% else %>
    <div class="profile-container">
      <div class="professional-info">
        <% if !@current_user.photo.nil? %>
        <%= image_tag current_user.photo, class:"pro-career-img rounded-circle" %>
        <% end %>
        <p><strong>Name: </strong><%= current_user.first_name %> <%= current_user.last_name %></p>
        <% if current_user.professional %>
        <p><%= current_user.professional.specialty %></p>
        <% end %>

        <div class="professional-tags">
          <p><strong>User email: </strong> <%= current_user.email %></p>
          <% if current_user.professional && current_user.professional.bookings %>

          <p><strong>Amount of bookings: </strong> <%= current_user.professional.bookings.count %></p>
          <% end %>

        </div>
      </div>
      <div class="tab-wrapper">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Pending and Confirmed Requests</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">History Requests</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="messages-tab" data-toggle="tab" href="#messages" role="tab" aria-controls="messages" aria-selected="false">All Requests</a>
          </li>
        </ul>
        <% if current_user.professional && current_user.professional.bookings %>

        <div class="tab-content">
          <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <%= render "/admin/profile/pending_requests" %>
          </div>
          <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <%= render "/admin/profile/history_requests" %>
          </div>
          <div class="tab-pane" id="messages" role="tabpanel" aria-labelledby="messages-tab">
            <%= render "/admin/profile/all_requests" %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <script>
      $('#myTab a').on('click', function (e) {
        e.preventDefault()
        $(this).tab('show')
      })
    </script>
    <% end %>

