<%= link_to career_path(career), class:"career-description-connection" do %>
<div class="career-card">
 <%= image_tag career.image, class:"career-img" %>
 <div class="career-description">
  <div>
    <h2 class="career-card-title"><%= career.title %></h2>
    <div class="career-tags">
      <% @tags[career.category.title.downcase].split(", ").sample(3).each do |tag| %>
      <span class="career-tag"><%= tag %></span>
      <% end %>
    </div>
    <p><%= career.description.truncate(100) %></p>
  </div>
  <div class="career-icons">
   <div class="career-icon">
    <i class="fas fa-dollar-sign"></i><span class="salary-color"> <%= rand(50000..100000)%> (salary per year)</span>
  </div>
  <div class="career-icon">
    <i class="fas fa-users"></i> <%= career.professionals.count %> Professionals
  </div>
</div>
</div>
</div>
<% end %>
