<div class="container-fluid main-header-title">


  <h1 class="category-title"><i class="fas fa-university"></i> List of Categories</h1>
<h3 class="category-description">Choosing a career is one of the most important decisions you will make in life.  It's about so much more than deciding what you will do to make a living. To start with, think about the amount of time we spend at work. We are on the job approximately 71% of every year. Over our lifetimes, this comes to roughly 31½ years out of the 45 years most of us spend working, from the beginning of our careers until retirement. The importance of selecting a career with which we are satisfied cannot be overemphasized.</h3>
</div>

<div class="container main-header-cat-cards">

  <div class="row">
    <% @categories.each do |category| %>
    <div class="col-12 col-xs-12 col-md-6 col-lg-3 col-xl-3 category-row">
      <%= link_to category_path(category), class: 'no-hover' do %>
      <div class="box-container">
        <div class="box">
          <div class="category-card" style="background-image: linear-gradient(rgba(40, 40, 40, 0.1), rgba(54, 58, 60)), url('<%= category.image %>');">
            <div class="content p-2 category-card-title">
              <h3><%= category.title %></h3>
              <div class='d-flex flex-column justify-content-between h-100 align-items-center'>
                <% category.careers.first(5).each do |career| %>
                <p class="career-titles">
                  <%= career.title %>
                </p>
                <% end %>
                <p>...more</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
<!-- <div class="container main-header-cat-cards">
    <div class="row">
      <% @categories.each do |category| %>
      <div class="col-12 col-xs-12 col-md-6 col-lg-3 col-xl-3 category-row">
        <%= link_to category_path(category), class: 'no-hover' do %>
        <div class="box-container">
          <div class="box">
            <div class="category-card" style="background-image: linear-gradient(rgba(40, 40, 40, 0.3), rgba(54, 58, 60)), url('<%= category.image %>');">
              <div class="content">
                <h3><%= category.title %></h3>
                <% category.careers.first(5).each do |career| %>
                <p class="category-p"><%= career.title %></p>
                <% end %>
                <p>...more</p>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
      <% end %>
    </div>
</div>
-->
<!--


  <div class="row">
    <% @categories.each do |category| %>
    <div class="col-12 col-xs-12 col-md-6 col-lg-3 col-xl-3">
      <div class=''>

        <%= link_to category_path(category), class: 'no-hover' do %>
        <div class="category-card m-1 mb-5" style="background-image: linear-gradient(rgba(40, 40, 40, -0.7), rgba(54, 58, 60,0.8)), url('<%= category.image %>');">
         <p><%= category.title %></p>
       </div>

     </div>
     <% end %>
   </div>
   <% end %>
 </div>


-->
