<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="<%= asset_path('students-cap.png')%>" />
    <title>ShadowMe | Explore before Choosing a Career Path</title>
    <meta name="description" content="Get the Opportunity to have an in person experience with Professionals all over the world.">
    <title>ShadowMe | Explore before Choosing a Career Path</title>
    <meta name="description" content="Get the Opportunity to have an in person experience with Professionals all over the world.">
    <meta property="og:title" content="ShadowMe | Explore before Choosing a Career Path">
    <meta property="og:image" content="<%= asset_path('fistpump.jpg') %>">
    <meta property="og:description" content="Get the Opportunity to have an in person experience with Professionals all over the world.">
    <meta property="og:site_name" content="ShadowMe"/>
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="ShadowMe | Explore before Choosing a Career Path">
    <meta name="twitter:description" content="ShadowMe helps students figure out a career path. ">
    <meta property="og:image" content="<%= asset_path('fistpump.jpg') %>" />
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <script src="https://js.pusher.com/4.1/pusher.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
<script src='https://api.mapbox.com/mapbox.js/v3.2.0/mapbox.js'></script>
<link href='https://api.mapbox.com/mapbox.js/v3.2.0/mapbox.css' rel='stylesheet' />




<link href="https://fonts.googleapis.com/css?family=Satisfy&display=swap" rel="stylesheet">
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= render 'shared/footer' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
